<div style="margin-left: -90px;margin-right: -89px;margin-top: -19px;padding: 0px;background-color: white;">
 <table class="table">
    <thead><tr><th>#</th><th>Contact Name</th><th>Email</th><th>Telephone</th></tr></thead>
        <tbody>
        <!-- <%
        here you can write normal js 
        var count=0; 
        for(var contact in contactList) {
        count++;
         %>                 
          <tr>		
      			<td ><%= contactList[contact].id %></td><td><%= contactList[contact].firstname %></td>
      			<td><%= contactList[contact].email %></td><td><%= contactList[contact].telephone %></td>
      			<td><button type="button" class="btn btn-info" id="carpartbutton_<%= contactList[contact].id %>">Delete</button></td>
			</tr>
		<%}%>	   -->
        </tbody>
      </table>
	</div>